In [4]:
import pandas as pd
import os

In [5]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.
pickle_path = os.path.join('./', 'data', 'locations', 'locations_data_frame.pickle')
df_from_pickle = pd.read_pickle(pickle_path)

In [6]:
# Display the DataFrame
df_from_pickle

,mindate,maxdate,name,datacoverage,id,source
0,1997-03-06,2025-04-12,"Grand Isle, VT 05458",0.95,ZIP:05458,locations_10.json
1,1948-05-01,2025-04-12,"Highgate Center, VT 05459",1.00,ZIP:05459,locations_10.json
2,1995-05-08,2025-04-12,"Hinesburg, VT 05461",1.00,ZIP:05461,locations_10.json
3,1955-11-01,2025-04-12,"Huntington, VT 05462",1.00,ZIP:05462,locations_10.json
4,1997-03-06,2025-04-12,"Isle la Motte, VT 05463",0.95,ZIP:05463,locations_10.json
...,...,...,...,...,...,...
38858,1899-10-01,2025-04-12,"Lansdale, PA 19446",1.00,ZIP:19446,locations_13.json
38859,1994-06-15,2025-04-12,"Mont Clare, PA 19453",0.95,ZIP:19453,locations_13.json
38860,1972-01-01,2025-04-12,"North Wales, PA 19454",1.00,ZIP:19454,locations_13.json
38861,1894-01-01,2025-04-12,"Phoenixville, PA 19460",1.00,ZIP:19460,locations_13.json
38862,1994-06-15,2025-04-12,"Plymouth Meeting, PA 19462",0.95,ZIP:19462,locations_13.json